<p>Statistic ( hover elements ) </p>

<div class="ui four statistics">
    <div class="statistic" smDirTooltip="Tooltip text" smDirPosition="bottom center">
        <div class="value">
            22
        </div>
        <div class="label">
            Saves
        </div>
    </div>
    <div class="statistic" smDirTooltip="Three Thousand tooltip text" smDirPosition="bottom center">
        <div class="text value">
            Three<br>
            Thousand
        </div>
        <div class="label">
            Signups
        </div>
    </div>
    <div class="statistic" smDirTooltip="5 Flights tooltip text" smDirPosition="bottom center">
        <div class="value">
            <i class="plane icon"></i> 5
        </div>
        <div class="label">
            Flights
        </div>
    </div>
    <div class="statistic" smDirTooltip="42  Team Members tooltip text" smDirPosition="bottom center">
        <div class="value">
            <img src="http://semantic-ui.com/images/avatar/small/joe.jpg" class="ui circular inline image">
            42
        </div>
        <div class="label">
            Team Members
        </div>
    </div>
</div>